<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <script type="text/javascript" src="{{ base_url }}js/lib/jquery-min.js"></script>
            <script type="text/javascript" src="{{ base_url }}js/lib/twig/twig.js"></script>
            <script type="text/javascript" src="{{ base_url }}js/app.js"></script>
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="#" class="rest-get">Get</a></li>
            <li><a href="#" class="rest-post">Post</a></li>
            <li><a href="#" class="rest-put">Put</a></li>
            <li><a href="#" class="rest-delete">Delete</a></li>
        </ul>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="posts"></div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>
