<form action="login" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <legend>Personal information:</legend>
        username:<br>
        <input type="text" name="user" value="demo">
        <br>
        password:<br>
        <input type="text" name="password" value="demo">
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>
